*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.navbar-brand{
  font-size: 1.9rem!important;
  color:#565387!important;
  
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid#565387!important;
}
.menu_active{
  font-weight: bold;

}


#header{
  height: 500px;
}
.home_top .first_part h1{
  font-size: 40px;
}
.home_top .first_part h1 .brand-name{
  font-size: 45px;
  color:#565387;
}
.home_top .first_part h2{
  font-size: 22px;
  color: #565387;
}
.home_top .first_part .btn{
  text-align: left;
  border: none!important;
}
.home_top .first_part .btn .btn-get-started{
  padding: 10px 22px;
  border: 1px solid #565387;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.home_top .first_part .btn .btn-get-started:hover{
  background-color: #565387;
  color:wheat;
  transition: 0.8s;
}


.service_page .tab-center{
  color: #565387;
  
}